.header {
  height: 30px;
  padding: 5px 8px;
  display: flex;

  .logo {
    height: 100%;
  }

  .search {
    margin-left: 8px;
    width: 100%;
    max-width: 800px;
  }

  .operations {
    display: flex;
    margin-left: auto;

    > div {
      margin-left: 5px;
    }
  }
}