.DS_Store
.*
!/.gitignore
!client/.babelrc
!.eslintrc.json
!jcc/.babelrc
.reviewboardrc
dist/*
node_modules

#vim
*~
*.swp
*.iml
*.swo
_lvimrc
*.log

tools/parse-stacktrace/build/
!.storybook/
client/styleguide/*

client/apim/dist/