.workspace {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: calc(100vh - 30px);

  a {
    text-decoration: none;
    color: #000000;
  }

  .container {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: calc(100% - 17px);

    .main-area {
      display: flex;
      flex: 1;
      overflow: hidden;
    }
  }

  .tab {
    .link {
      margin-right: 5px;
    }

    .close {
      margin-left: auto;
      cursor: pointer;
      font-weight: 400;
      color: gray;
    }
  }
}