.workspace {
  display: flex;
  flex: 1;
  flex-direction: column;

  a {
    text-decoration: none;
    color: #000000;
  }

  .container {
    display: flex;
    flex: 1;
    flex-direction: row;

    .main-area {
      display: flex;
      flex: 1;
    }
  }

  .tab {
    .link {
      margin-right: 5px;
    }

    .close {
      margin-left: auto;
      cursor: pointer;
      font-weight: 400;
      color: gray;
    }
  }
}